[global_resource_minerals]
displayName: 矿物
displayPos: 1
displayColor: #C46C62
displayWhenZero: true

[global_resource_alloys]
displayName: 合金
displayPos: 2
displayColor: #8199B0
displayWhenZero: true

[global_resource_science]
displayName: 科研
displayPos: 3
displayColor: #69B8E0
displayWhenZero: true

[global_resource_unity]
displayName: 凝聚力
displayPos: 4
displayColor: #AA77CD
displayWhenZero: true

[global_resource_strategic]
displayName: 战略资源
displayPos: 5
displayColor: #6FCB9A
displayWhenZero: true

[global_resource_titanPermit]
displayName: 泰坦建造许可
hidden: true

[global_resource_juggernautPermit]
displayName: 主宰建造许可
hidden: true

[global_resource_colossusPermit]
displayName: 巨像建造许可
hidden: true

[resource_rsAiHandicap]
displayName: AI 难度倍率
hidden: true

[hiddenAction_captureAiHandicap]
autoTriggerOnEvent: created
requireConditional: if self.isControlledByAI() and self.resource('rsAiHandicap') == 0
addResourcesScaledByAIHandicaps: rsAiHandicap=1
